<launch>
  <rosparam file="$(find robot_description)/config/controller.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="robot" args="Revolute_34 Revolute_42 Revolute_43 Revolute_44 joint_state_controller "/>
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"> -->
    <!-- <remap from="/joint_states" to="/robot/joint_states"/> -->
  <!-- </node> -->
</launch>
