<launch>
<arg name="map_file" default="$(find robot_description)/maps/map.yaml"/>
  <param name="robot_description" command="$(find xacro)/xacro $(find robot_description)/urdf/robot.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find robot_description)/world/quicksilver_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
 <include file="$(find robot_description)/launch/controller.launch" />
<node name="omni_drive_controller" pkg="robot_control" type="omni_drive_controller.py" output="screen" />
<node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  <include file="$(find robot_description)/launch/display.launch" />
<node pkg="teleop_twist_keyboard" name="teleop" type="teleop_twist_keyboard.py" output="screen">
    <remap from="cmd_vel" to="/robot/cmd_vel"/>
</node>


</launch>
